.Besty::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(106,185,79);
    transform: rotate(30deg);
    left: -110%;
    top: 90%;
}

.Besty:hover {
    color: white;
}

.Besty:hover > h2 {
    z-index: 1;
    cursor: pointer;
}

.Besty:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
    cursor: pointer;
}

@keyframes aaa {
    0%{
        left: -110%;
        top: 90%;
    }50%{
        left: 10%;
        top: -30%;
    }100%{
        top: -10%;
        left: -10%;
    }
}


.Besty1::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: rgb(27,72,77);
    transform: rotate(30deg);
    right: -120%;
    top: 90%;
}

.Besty1:hover {
    color: white;
}

.Besty1:hover > h2 {
    z-index: 1;
    cursor: pointer;
}

.Besty1:hover::before {
    animation: bbb 0.7s 1;
    top: -10%;
    right: -10%;
    cursor: pointer;
}

@keyframes bbb {
    0%{
        right: -110%;
        top: 90%;
    }50%{
        right: 10%;
        top: -30%;
    }100%{
        top: -10%;
        right: -10%;
    }
}






@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .redty {
    background-color: rgb(42,73,76);
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-flex;
    animation: 35s slide infinite linear;
    gap: 20px;
    align-items: center;
  }
  
  .logos-slide img {
    height: 50px;
    margin: 0 40px;
  }
  