
.footer-container {
    background-color: rgb(42,73,76, .8);
}


.footer-container > img {
    mix-blend-mode: hard-light;
}

.flex1 {
    flex: 2;
}

.flex2 {
    flex: 3;
}

.flex3 {
    flex: 1;
}

.transs {
    transition: all 0.3s ease-in-out;
}

.colGre {
    color: rgb(139,197,63);
}